/*
 *  File :    _layout/body.less
 *  Info :    Layout for the body of the website.
 *  Usage :   @import "_layout/body.less";
 *
 */


#body {
	position: absolute;
	top: 0;
	transition: all 500ms ease-out;
	width: 100%;

	&.collapse {
		transform: translate(20%, 0);
		transition: all 500ms ease-out;

		.collapse-overlay {
			opacity: .75;
			pointer-events: auto;
		}
	}

	.collapse-overlay {
		height: 100%;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: opacity 500ms ease-out;
		width: 100%;
	}
}