/*
 *  File :    _layout/header.less
 *  Info :    Layout for header element.
 *  Usage :   @import "_layout/header.less";
 *
 */

#Header {
	text-align: center;

	.ident {
		width: 260px;
		height: 260px;
	}

	.quick-contact {
		background-color: red;
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;

		.icon {
			display: inline-block;
			// padding: 10px;

			&.twitter {
				font-size: 11px;
				line-height: 11px;
				background-color: yellow;
			}

			&.email {
				line-height: 11px;
				font-size: 11px;
				background-color: green;
			}
		}
	}

	h1,
	h2,
	p {
		.user-select(none);
		cursor: default;
	}

	h2 {
		padding: 0 0 25px 0;
	}

	p {
		padding: 0 30%;
	}
}