/*
 *  File :    _layout/menu.less
 *  Info :    Layout for navigation element.
 *  Usage :   @import "_layout/menu.less";
 *
 */


#Nav {

	width: 100%;
	text-align: center;
	padding-top: 50px;

	.nav-item {

		display: inline-block;
		width: 40px;
		height: 40px;

		.icon-svg {

			height: 100%;
			width: 100%;
			fill: currentColor;
		}

		&:first-child {

			margin-right: 30px;
		}
	}
}