/*
 *  File :    _config/colours.less
 *  Info :    Define all colour variables.
 *  Usage :   @import "_config/colours.less";
 *
 */


/*
 *	Brand colours
 */
@colour-light: rgb(251, 251, 251);
@colour-dark: rgb(36, 40, 46);
@colour-copy: rgb(100, 100, 107);
@colour-accent: rgb(210, 70, 60);
@colour-opaque: rgba(0, 0, 0, .8);


