/*
 *  File :    _theme/color-scheme.less
 *  Info :    Define colour scheme for this theme.
 *  Usage :   @import "_theme/color-scheme.less";
 *
 */

@colour-light: rgb(251, 251, 251);
@colour-dark: rgb(36, 40, 46);
@colour-copy: rgb(100, 100, 107);
@colour-accent: rgb(229, 79, 48);
@colour-opaque: rgba(0, 0, 0, .8);


.theme {

	background-color: @colour-dark;
	color: @colour-light;

	h1,
	h2 {
		color: @colour-light;
	}

	a {
		.transition(color .15s ease);
		color: @colour-light;

		&:hover {
			color: @colour-accent;
		}
	}

	.ident {

		.ident-svg {

			fill: @colour-light;
		}
	}

	.nav-item {

		a {
			color: @colour-light;

			&:hover {

				color: @colour-accent;
			}
		}
	}

	&.about {

		background-color: @colour-accent;
	}


	// .james {

	// 	.logo-svg {

	// 		fill: @colour-dark;
	// 	}
	// }


	.icon-svg {

		fill: currentColor;
	}

	
	.invert {

		background-color: @colour-dark;
		color: @colour-light;

		a {
			color: @colour-light;

			&:hover {
				color: @colour-accent;
			}
		}

		.ident {
			background-color: @colour-dark;

			.ident-inner {
				background-color: @colour-light;
			}
		}

		.nav-button {

			.nav-button-bar {
				background-color: @colour-dark;
			}
		}

		.grid-table {

			.grid-link {

				.transition(background-color .5s ease);

				&:hover {

					background-color: @colour-accent;
					color: @colour-light;
				}
			}


			&.row-1 {

				.grid-cell {

					&:nth-child(1) { background-color: rgba(251, 251, 251, .02);}
					&:nth-child(2) { background-color: rgba(251, 251, 251, .04);}
				}
			}

			&.row-2 {

				.grid-cell {

					&:nth-child(1) { background-color: rgba(251, 251, 251, .06);}
					&:nth-child(2) { background-color: rgba(251, 251, 251, .08);}
					&:nth-child(3) { background-color: rgba(251, 251, 251, .1);}
				}
			}

			&.row-3 {

				.grid-cell {

					&:nth-child(1) { background-color: rgba(251, 251, 251, .12);}
					&:nth-child(2) { background-color: rgba(251, 251, 251, .14);}
					&:nth-child(3) { background-color: rgba(251, 251, 251, .16);}
					&:nth-child(4) { background-color: rgba(251, 251, 251, .18);}
				}
			}


		}
	}
}