/*
 *  File :    _theme/font-size.less
 *  Info :    Define font sizes for this theme.
 *  Usage :   @import "_theme/font-size.less";
 *
 */

.font-face('iconography', '/fonts/', 'icons');

.theme {
	
	.font-size(1.4);
	.line-height(2.2);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;

	h1 {
		.font-size(4);
		.line-height(3);
		font-weight: 300;
	}

	h2 {
		.font-size(1.6);
		.line-height(2.2);
		font-weight: 300;
		letter-spacing: 1px;
	}

	a {
		text-decoration: none;
	}

	.icon {

		font-family: 'iconography';
	}

	#Navigation {

		.font-size(2);
	}
}