/*
 *  Styling for the website header directive.
 *  @import "directives/header.less";
 */


.header {

	height: 100%;
	position: relative;
	text-align: center;
	top: 0px;
	width: 100%;

	.position-control {

		.vertical-center();
		display: block;
		position: absolute;
		width: 100%;
    line-height: 0;
    font-size: 0;
	}

	.ident {

        background-color: @colour-accent;
        border-radius: 50%;
        border: 22px solid @colour-light;
        display: inline-block;
        height: 80px;
        width: 80px;
        position: absolute;
        .horizontal-center();
        top: -120px
	}

    .james {

        display: inline-block;
        height: 45px;

        .icon-svg {

            height: 100%;
        }
    }

    .title {

        padding-top: 40px;
    }


		.ident-svg {

			fill: @colour-light;
			height: 100%;
			width: 100%;
		}

	// .james {

	// 	display: block;
	// 	height: 25px;
	// 	left: -119px;
	// 	line-height: 0px;
	// 	position: relative;
	// 	top: 19px;
	// 	width: 78px;

	// 	.logo-svg {

	// 		height: 25px;
	// 		width: 78px;
	// 	}
	// }

	.digital-creative {

		display: block;
		font-size: 18px;
		height: 25px;
		left: 42px;
		line-height: 18px;
		position: relative;
		text-align: left;
		top: 2px;
		width: 124px;
	}

	.hint-arrow {

		display: none;

		.icon-svg {

			height: auto;
			width: 20px;
		}
	}

	h1,
	h2,
	p {
		.user-select(none);
		cursor: default;
	}

	// h1 {

	// 	padding: 0px 0px 10px 0px;
	// }

	// h2 {
	// 	padding: 0px 0px 25px 0px;
	// }

	.nav {

		display: none;
		padding-top: 50px;
		text-align: center;
		width: 100%;

		.nav-item {

			display: inline-block;
			height: 40px;
			width: 40px;

			.icon-svg {

				fill: currentColor;
				height: 100%;
				width: 100%;
			}

			&:first-child {

				margin-right: 30px;
			}
		}
	}

	p {

		@media @small {

			// padding: 0 10%;
		}

		@media @medium {

			// padding: 0 15%;
		}

		@media @large {

			// padding: 0 25%;
		}

	}
}
