/*
 *  Styling for the website header directive.
 *  @import "directives/header.less";
 */


#Header {

	text-align: center;
	padding-top: 390px;

	.james {

		.logo-svg {

			height: 50px;
			width: 155px;
		}
	}

	.hint-arrow {

		.icon-svg {

			height: auto;
			width: 20px;
		}
	}

	h1,
	h2,
	p {
		.user-select(none);
		cursor: default;
	}

	h1 {

		padding: 0 0 10px 0;
	}

	h2 {
		padding: 0 0 25px 0;
	}

	#Nav {

		width: 100%;
		text-align: center;
		padding-top: 50px;

		.nav-item {

			display: inline-block;
			width: 40px;
			height: 40px;

			.icon-svg {

				height: 100%;
				width: 100%;
				fill: currentColor;
			}

			&:first-child {

				margin-right: 30px;
			}
		}
	}

	p {

		@media @small {

			// padding: 0 10%;
		}

		@media @medium {

			// padding: 0 15%;
		}

		@media @large {

			// padding: 0 25%;
		}
		
	}
}