/*
 *  Styling for the website header directive.
 *  @import "directives/header.less";
 */


.header {

	position: fixed;
	text-align: center;
	top: 390px;
	width: 100%;


	.james {

		.logo-svg {

			height: 50px;
			width: 155px;
		}
	}

	.hint-arrow {

		.icon-svg {

			height: auto;
			width: 20px;
		}
	}

	h1,
	h2,
	p {
		.user-select(none);
		cursor: default;
	}

	h1 {

		padding: 0px 0px 10px 0px;
	}

	h2 {
		padding: 0px 0px 25px 0px;
	}

	.nav {

		padding-top: 50px;
		text-align: center;
		width: 100%;

		.nav-item {

			display: inline-block;
			height: 40px;
			width: 40px;

			.icon-svg {

				fill: currentColor;
				height: 100%;
				width: 100%;
			}

			&:first-child {

				margin-right: 30px;
			}
		}
	}

	p {

		@media @small {

			// padding: 0 10%;
		}

		@media @medium {

			// padding: 0 15%;
		}

		@media @large {

			// padding: 0 25%;
		}

	}
}
